<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>CarINFO</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="assets/css/linearicons.css">

        <!--flaticon.css-->
		<link rel="stylesheet" href="assets/css/flaticon.css">

		<!--animate.css-->
        <link rel="stylesheet" href="assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="/home">CarINFO<span></span></a>

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
								<li class="scroll active"><a href="#home">home</a></li>
								<li class="scroll"><a href="#service">service</a></li>
								<li class="scroll"><a href="#featured-cars">featured cars</a></li>
								<li class="scroll"><a href="#new-cars">new cars</a></li>
								{% if app.user %}
                                    <li><a href="/logout">logout</a></li>
                                {% else %}
                                    <li><a href="/login">login</a></li>
                                {% endif %}
								<li class="scroll"><a href="#contact">contact</a></li>
							</ul><!--/.nav -->
						</div>

				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->

			<div class="container">
				<div class="welcome-hero-txt">
					<h2> Comparez et explorez les voitures avant d’acheter</h2>
					<p>
						Consultez les fiches techniques complètes, les performances et les avis. 
					</p>
					<button class="welcome-btn" onclick="window.location.href='/cars'"> Voir les modèles</button>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="model-search-content">
							<div class="row">
								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>select year</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">color</option><!-- /.option-->

												<option value="red">Red</option><!-- /.option-->

												<option value="blue">Blue</option><!-- /.option-->
												<option value="black">Black</option><!-- /.option-->
												<option value="white">White</option><!-- /.option-->
												<option value="silver">Silver</option><!-- /.option-->
												<option value="green">Green</option><!-- /.option-->
												<option value="yellow">Yellow</option><!-- /.option-->
												<option value="orange">Orange</option><!-- /.option-->
												<option value="purple">Purple</option><!-- /.option-->
												<option value="brown">Brown</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
									<div class="single-model-search">
										<h2>body style</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">style</option><!-- /.option-->

											  	<option value="suv">SUV</option><!-- /.option-->

											<option value="sedan">Sedan</option><!-- /.option-->

											<option value="hatchback">Hatchback</option><!-- /.option-->

											<option value="coupe">Coupe</option><!-- /.option-->

											<option value="convertible">Convertible</option><!-- /.option-->

											<option value="truck">Truck</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
								</div>
								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>select make</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">make</option><!-- /.option-->

											  	<option value="toyota">toyota</option><!-- /.option-->
												<option value="ford">ford</option><!-- /.option-->
												<option value="bmx">bmx</option><!-- /.option-->
												<option value="audi">audi</option><!-- /.option-->
												<option value="mercedes">mercedes</option><!-- /.option-->
												<option value="tesla">tesla</option><!-- /.option-->
												<option value="honda">honda</option><!-- /.option-->
												<option value="hyundai">hyundai</option><!-- /.option-->
											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
									<div class="single-model-search">
										<h2>car condition</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">CH</option><!-- /.option-->

												<option value="100">0 à 100</option><!-- /.option-->
												<option value="200">100 à 200</option><!-- /.option-->
												<option value="300">200 à 300</option><!-- /.option-->
												<option value="400">300 à 400</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
								</div>
								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>select model</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">model</option><!-- /.option-->

												<optgroup label="Toyota">
													<option value="corolla">Corolla</option>
													<option value="camry">Camry</option>
													<option value="rav4">RAV4</option>
													<option value="supra">Supra</option>
													<option value="yaris">Yaris</option>
												</optgroup>
												<optgroup label="Ford">
													<option value="mustang">Mustang</option>
													<option value="f-150">F-150</option>
													<option value="explorer">Explorer</option>
													<option value="focus">Focus</option>
													<option value="edge">Edge</option>
												</optgroup>
												<optgroup label="BMW">
													<option value="series-3">Series 3</option>
													<option value="series-5">Series 5</option>
													<option value="x5">X5</option>
													<option value="m4">M4</option>
													<option value="i8">i8</option>
												</optgroup>
												<optgroup label="Audi">
													<option value="a3">A3</option>
													<option value="a4">A4</option>
													<option value="q5">Q5</option>
													<option value="r8">R8</option>
													<option value="tt">TT</option>
												</optgroup>
												<optgroup label="Mercedes">
													<option value="a-class">A-Class</option>
													<option value="c-class">C-Class</option>
													<option value="e-class">E-Class</option>
													<option value="gla">GLA</option>
													<option value="gle">GLE</option>
												</optgroup>
												<optgroup label="Tesla">
													<option value="model-s">Model S</option>
													<option value="model-3">Model 3</option>
													<option value="model-x">Model X</option>
													<option value="model-y">Model Y</option>
													<option value="cybertruck">Cybertruck</option>
												</optgroup>
												<optgroup label="Honda">
													<option value="civic">Civic</option>
													<option value="accord">Accord</option>
													<option value="cr-v">CR-V</option>
													<option value="hr-v">HR-V</option>
													<option value="nsx">NSX</option>
												</optgroup>
												<optgroup label="Hyundai">
													<option value="i30">i30</option>
													<option value="tucson">Tucson</option>
													<option value="santa-fe">Santa Fe</option>
													<option value="kona">Kona</option>
													<option value="elantra">Elantra</option>
												</optgroup>


											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
									<div class="single-model-search">
										<h2>select price</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">price</option><!-- /.option-->

												<option value="0-10000">$0 - $10,000</option><!-- /.option-->
												<option value="10000-20000">$10,000 - $20,000</option><!-- /.option-->
												<option value="20000-30000">$20,000 - $30,000</option><!-- /.option-->
												<option value="30000-40000">$30,000 - $40,000</option><!-- /.option-->
												<option value="40000-50000">$40,000 - $50,000</option><!-- /.option-->
												<option value="50000-60000">$50,000 - $60,000</option><!-- /.option-->
												<option value="60000-70000">$60,000 - $70,000</option><!-- /.option-->
												<option value="70000-80000">$70,000 - $80,000</option><!-- /.option-->
												<option value="80000-90000">$80,000+</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<div class="single-model-search text-center">
										<button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
											search
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--service start -->
		<section id="service" class="service">
			<div class="container">
				<div class="service-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car"></i>
								</div>
								<h2>Base de données automobile complète</h2>
								<p>
									📌 Accédez aux fiches techniques détaillées de nombreux modèles de voitures.
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car-repair"></i>
								</div>
								<h2>Comparaison et analyse des performances</h2>
								<p>
									⚙️ Comparez les caractéristiques, la consommation et les performances des véhicules.
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car-1"></i>
								</div>
								<h2>Assistance à l'achat et conseils</h2>
								<p>
									📑 Trouvez la voiture idéale grâce à nos recommandations et analyses expertes.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

		<!--new-cars start -->
		<section id="new-cars" class="new-cars">
			<div class="container">
				<div class="section-header">
					<p>Découvrez les dernières voitures</p>
					<h2>voitures les plus récentes</h2>
				</div><!--/.section-header-->
				<div class="new-cars-content">
					<div class="owl-carousel owl-theme" id="new-cars-carousel">
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="assets/images/new-cars-model/ncm1.png" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><strong>Chevrolet Camaro ZL1 – La Muscle Car Ultime</strong></h2>
											<p>
												La Chevrolet Camaro ZL1 est une véritable bête de puissance, conçue pour les amateurs de sensations fortes et de performances sur route comme sur circuit. Avec son design agressif, sa motorisation suralimentée et ses technologies de pointe, elle rivalise avec les plus grandes sportives.
											</p>
											<p class="new-cars-para2">
												<strong>🔹 Moteur & Performances</strong>
													💥 V8 6.2L Supercharged (LT4)
													⚡ 650 chevaux & 881 Nm de couple
													🏎️ 0 à 100 km/h en seulement 3,5 secondes
											</p>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="assets/images/new-cars-model/ncm2.png" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2>BMW Série 3 Touring – L'Équilibre Parfait entre Sportivité et Praticité</h2>
											<p>
												La BMW Série 3 Touring (aussi appelée BMW Série 3 Wagon) combine élégance, performances dynamiques et espace généreux. Idéale pour ceux qui recherchent une voiture à la fois sportive et fonctionnelle, elle offre une expérience de conduite premium avec un design raffiné et des technologies de pointe.
											</p>
											<p class="new-cars-para2">
												<strong>La Série 3 Touring est disponible en plusieurs motorisations, de l'efficience au plaisir de conduite :</strong>
													🔹 318d / 320d (Diesel) – Jusqu’à 190 ch, consommation réduite et autonomie exceptionnelle
													🔹 320i / 330i (Essence) – Jusqu’à 258 ch, parfaite pour une conduite dynamique
													🔹 M340i xDrive (Essence) – 374 ch, 0 à 100 km/h en 4,5s, véritable sportive familiale
													🔹 330e (Hybride Rechargeable) – Jusqu'à 292 ch, autonomie électrique jusqu'à 60 km
											</p>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->	
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="assets/images/new-cars-model/ncm3.png" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2>Ferrari 488 GTB – Une Supercar à l’ADN de Course</h2>
											<p>
												La Ferrari 488 GTB est une véritable icône des supercars, combinant un design agressif, une aérodynamique optimisée et des performances de haut niveau. Présentée comme la remplaçante de la Ferrari 458 Italia, elle marque une nouvelle ère avec son moteur V8 bi-turbo ultra-performant.
											</p>
											<p class="new-cars-para2">
												<strong>Motorisation & Performances</strong>
													🔹 Moteur : V8 3.9L bi-turbo
													🔹 Puissance : 670 chevaux à 8 000 tr/min
													🔹 Couple : 760 Nm à 3 000 tr/min
													🔹 0 à 100 km/h : 2,9 secondes
													🔹 Vitesse max : 330 km/h
													🔹 Boîte de vitesses : 7 rapports à double embrayage F1 DCT
											</p>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
					</div><!--/#new-cars-carousel-->
				</div><!--/.new-cars-content-->
			</div><!--/.container-->

		</section><!--/.new-cars-->
		<!--new-cars end -->

		<!--featured-cars start -->
		<section id="featured-cars" class="featured-cars">
			<div class="container">
				<div class="section-header">
					<p>Découvrez les voitures en vedette</p>
					<h2>voitures vedette</h2>
				</div><!--/.section-header-->
				<div class="featured-cars-content">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/fc1.png" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">BMW 6-series gran coupe</a></h2>
									<h3>$89,395</h3>
									<p>
										La BMW Série 6 Gran Coupé est une berline coupé haut de gamme qui combine un design sophistiqué, des performances dynamiques et un confort exceptionnel. Avec ses lignes élégantes et son allure sportive, elle se distingue comme une alternative luxueuse aux berlines traditionnelles. 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/fc2.png" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2>chevrolet camaro RS</h2>
									<h3>$66,575</h3>
									<p>
										La Chevrolet Camaro RS est une version sportive et stylisée de la célèbre muscle car américaine. Avec son look agressif, ses technologies modernes et son moteur performant, elle offre une expérience de conduite exaltante tout en restant accessible aux passionnés d’automobile. 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/fc3.png" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2>Lamborghini Huracán</h2>
									<h3>$125,250</h3>
									<p>
										La Lamborghini Huracán incarne parfaitement l’ADN de la marque italienne : puissance brute, design agressif et technologies de pointe. Remplaçante de la Gallardo, cette supercar a su s’imposer comme une référence avec son V10 atmosphérique, son châssis ultra-léger et son aérodynamisme affûté. 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/fcS.png" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">audi <span> a3</span> sedan</a></h2>
									<h3>$95,500</h3>
									<p>
										L'Audi A3 Sedan est la parfaite alliance entre raffinement, technologie et performances. Compacte mais premium, cette berline dynamique offre une expérience de conduite haut de gamme tout en conservant un design sportif et une habitabilité optimisée. 
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/fc4.png" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2>Audi RS6</h2>
									<h3>$36,850</h3>
									<p>
										L’Audi RS6 Avant est une véritable icône dans le monde des breaks sportifs. Elle combine performance extrême, luxe et praticité, offrant une expérience de conduite unique qui mélange l’ADN d’une supercar avec l’espace d’un break familial. 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/fc6.png" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">porsche <span>718</span> cayman</a></h2>
									<h3>$48,500</h3>
									<p>
										La Porsche 718 Cayman est un coupé sportif agile et puissant, conçu pour offrir une expérience de conduite pure. Avec son moteur central, son châssis équilibré et son design emblématique, il s’impose comme l’un des meilleurs choix pour les amateurs de sensations fortes. 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/fc7.png" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#"><span>bmw 8-</span>series coupe</a></h2>
									<h3>$56,000</h3>
									<p>
										La BMW Série 8 Coupé est une GT haut de gamme, combinant élégance, puissance et technologies de pointe. Son design sculpté, son moteur puissant et son intérieur raffiné en font une voiture parfaite pour ceux qui recherchent une expérience de conduite exclusive et dynamique. 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/fc88.png" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">BMW <span> x</span>series-6</a></h2>
									<h3>$75,800</h3>
									<p>
										La BMW Série 4 Cabriolet est une parfaite combinaison entre sportivité, luxe et plaisir de conduite. Avec son design dynamique, son toit rétractable et ses motorisations puissantes, elle promet une expérience inoubliable, cheveux au vent. 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.featured-cars-->
		<!--featured-cars end -->

		<!-- clients-say strat -->
		<section id="clients-say"  class="clients-say">
			<div class="container">
				<div class="section-header">
					<h2>AVIS CLIENTS</h2>
				</div><!--/.section-header-->
				<div class="row">
					

		</section><!--/.clients-say-->	
		<!-- clients-say end -->

		<!--brand strat -->
		<section id="brand"  class="brand">
			<div class="container">
				<div class="brand-area">
					<div class="owl-carousel owl-theme brand-item">
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br1.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/BMW.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/mercedes.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/AUDI.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="#">
								<img src="assets/images/brand/tesla.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="#">
								<img src="assets/images/brand/ford.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br6.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
					</div><!--/.owl-carousel-->
				</div><!--/.clients-area-->

			</div><!--/.container-->

		</section><!--/brand-->	
		<!--brand end -->

		<!--blog start -->
		<section id="blog" class="blog"></section><!--/.blog-->
		<!--blog end -->

		<!--contact start-->
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="index.html">carvilla</a>
								</div>
								<p>
									Ased do eiusm tempor incidi ut labore et dolore magnaian aliqua. Ut enim ad minim veniam.
								</p>
								<div class="footer-contact">
									<p>info@themesine.com</p>
									<p>+1 (885) 2563154554</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>about devloon</h2>
								<ul>
									<li><a href="#">about us</a></li>
									<li><a href="#">career</a></li>
									<li><a href="#">terms <span> of service</span></a></li>
									<li><a href="#">privacy policy</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="single-footer-widget">
								<h2>top brands</h2>
								<div class="row">
									<div class="col-md-7 col-xs-6">
										<ul>
											<li><a href="#">BMW</a></li>
											<li><a href="#">lamborghini</a></li>
											<li><a href="#">camaro</a></li>
											<li><a href="#">audi</a></li>
											<li><a href="#">infiniti</a></li>
											<li><a href="#">nissan</a></li>
										</ul>
									</div>
									<div class="col-md-5 col-xs-6">
										<ul>
											<li><a href="#">ferrari</a></li>
											<li><a href="#">porsche</a></li>
											<li><a href="#">land rover</a></li>
											<li><a href="#">aston martin</a></li>
											<li><a href="#">mersedes</a></li>
											<li><a href="#">opel</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<h2>news letter</h2>
								<div class="footer-newsletter">
									<p>
										Subscribe to get latest news  update and informations
									</p>
								</div>
								<div class="hm-foot-email">
									<div class="foot-email-box">
										<input type="text" class="form-control" placeholder="Add Email">
									</div><!--/.foot-email-box-->
									<div class="foot-email-subscribe">
										<span><i class="fa fa-arrow-right"></i></span>
									</div><!--/.foot-email-icon-->
								</div><!--/.hm-foot-email-->
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
							</p><!--/p-->
						</div>
						<div class="col-sm-6">
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>	
							</div>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>

		<!--owl.carousel.js-->
        <script src="assets/js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="assets/js/custom.js"></script>
        
    </body>
	
</html>